body {
  padding: 2rem;
  background-color: #EFECE1;
  margin-left: 10%;
  margin-right: 10%;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #EFECE1; */
}

section {
  /* margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333; */
}


.line-section {
  padding-bottom: 2rem;;
  border-bottom: 1px solid #333;
}

.title {
  /* margin: 10rem; */
  margin-top: 4rem;
  text-align: center;
  color: #344EAD;
  padding: 0.5rem;
  /* min-width: 20rem; */
}

.subheader {
  text-align: center;
  color: #344EAD;
  margin-bottom: 5rem;
  margin-top: -6rem;
  min-width: 15rem;
  font-size: 0.8rem;
  word-spacing: 5px;
}

#contact-text {
  text-align: center;
  margin-bottom: 7rem;
}

#homepage-description {
  text-align: center;
  margin-top: -3rem;
  color: #344EAD;
  margin-bottom: 7rem;
  min-width: 15rem;
  font-size: 1.5rem;
  word-spacing: 5px;
}

#homepage-desc-title {
  margin-bottom: 3rem;
}

#view-all-projects-button {
  text-align: center;
}

.img-cap{
    margin-bottom: 1rem;
    text-align:center;
}

h1 {
  font-family: "Westbourne-Regular";
  font-size: 8rem;
}

#h1-mark {
  font-family: "Westbourne-Italic"
}

h2 {
  font-family: "Manrope-Light";

}

i {
  font-family: "Westbourne-Italic"
}

h3 {
  font-family: "Manrope-Light";
}

h4 {
  font-family: "Manrope-Light";
}

 p {
  margin-top: 0;
  font-family: "Manrope-Light";
}

mark {
  background: #A4B1BA;
  padding-right: 0.5rem;
  padding-left: 0.2rem;
}

 code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

iframe {
  margin-left: 4%;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

.button {
    font-family: "Manrope-Medium";
    display: inline-block;
    background-color: #EFECE1;
    color: #344EAD;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    border: 0;
    font-size: 1rem;
    border: 0.15rem solid #344EAD;
    border-radius: 1rem;
}

.button:hover {
  background-color: #EFECE1;
  color: #1F2F69;
  border: 0.15rem solid #1F2F69
}

.button:focus {
  background-color: #344EAD;
  border: 0.15rem solid #344EAD;
  color: #EFECE1;
}

/* Form/Comment Elements */

.input {
  max-width: 60rem;
  min-width: 20rem;
  font-family: "Manrope-Light";
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border: 0.15rem solid #B0B39B;
  flex:1;
  transition-property: background-color;
  transition-duration: 0.5s;
  display: block;
}

/* .input:hover {
  background-color: #B0B39B;
} */

/* .input:focus{
  outline: 0.rem solid #B0B39B;
} */

#comment-button {
  margin: 0rem;;
}

label {
  font-family: "Manrope-Light";
}

.text-input{
  display: flex;
  align-items: center;
  max-width: 20rem;
}

/* Styling for the navigation buttons */

.header-name {
  font-family: "Westbourne-Regular";
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 0.5rem;
  display: flex;
  color: #344EAD;
  font-size: 1.75rem;
  min-width: 9rem;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.header-name:hover, .header-name:focus {
  color: #1F2F69;
}

.intext-link {
  text-decoration: none;
  color: #344EAD;
  font-weight: bold;
}

.intext-link:hover {
  color: #1F2F69;
}

.intext-link:focus {
  color: #EFECE1;
}

.nav-button {
  display: block;
  padding: 0.5em 0.75em;
  color: black;
  font-size: 1.1rem;
  font-style: bold;
  font-family: "Manrope-Medium";
  /* background-color: #333; */
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.nav-button:hover, .nav-button:focus {
  color: #999;
}

.nav-menu {
  display: flex;
  align-items: right;
  margin-top: 1rem;
  margin-right: 2rem;
  position: responsive;
}

.header-texts {
  display: flex;
}

/* Image Links */

.image-link {
  max-width: 50rem;
  max-height: 50rem;
}

/* Referenced from https://www.30secondsofcode.org/css/s/image-overlay-hover/ */
.image-link * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.image-link img {
  vertical-align: top;
  backface-visibility: hidden;
  max-width: 30rem;
  max-height: 30rem;
}

.image-link:hover > img {
  opacity: 0.5;
}

.image-link:focus {
  /* Referenced from https://www.tutorialspoint.com/how-to-darken-an-image-using-css */
  filter: brightness(70%);
}

 /* Images */

 .colour-palette {
   max-width: 50%;
 }

 .moodboard {
   max-width: 70%;
 }

/*
  TEXT ELEMENTS -------------------
*/


.radio-button {
  font-family: "Manrope-Light";
}

li {
  font-family: "Manrope-Light";
}

/*
  COMBINED ELEMENTS -------------------
*/

.project-container {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 4rem;
}

.project-header {
  text-align: left;
  margin-top: 5rem;
  margin-left: ;
}

.project-description-text {
  max-width: 80rem;
  text-align: left;
  /* margin-left: 3%;
  margin-right: 3%; */
}

.project-artifacts {
  margin-bottom: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
  max-height: 40%;
}
.project-image {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  margin-left: 0%;
  margin-right: 10%;
  max-width: 100%;
  max-height: 100%;
}

.project-listing-container {
  display: grid;
  flex-wrap: wrap;
  margin-left: -10rem;
  margin-right: -10rem;
  margin-bottom: 4rem;
  align-items: center;
  align-self: center;
}

.project-listing {
  /* margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center; */
}

.project-listing-item {
  /* align-items: center; */
  /* margin: 1rem; */
  /* width: 30rem; */
}

.column {
 display: inline-flex;
 flex-wrap: wrap;
 flex-direction: column;
 flex-basis: 100%;
 flex: 1;
 margin-left: -0.2rem;
 margin-bottom: -0.2rem;
 /* margin: 0.5rem;   */
 display: grid;
  flex-wrap: wrap;
  align-items: center;
 border: 0.2rem solid #344EAD;
 padding: 1rem;
 padding-bottom: 1.5rem;
}

.row {
 display: inline-grid;
 flex-direction: row;
 flex-wrap: wrap;
 width: 100%;
 align-items: center;
}

.project-details-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.detail-head {
  display: inline-block;
  width: 6rem;
  max-width:6rem;
}

.detail-text {
  display: inline-block;
  max-width: 60rem;
}

.analysis-title {
  margin-bottom: 0.25rem;
}

.project-list-image {
  /* width: 30rem;
  height: 20rem; */
  display: flex;
}

.featured-listings {
 display: flex;
 flex-direction: row;
 align-self: center;
 margin-left: 2rem;
}

.featured-project {
  margin: 2rem;
  float: left;
}

.project-feature-image {
  width: 20rem;
  height: 20rem;
}

/*
  SECTION ID'S -------------------
*/

#about {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
}

.about-img {
  width: 20rem;
  height: auto;
  align-items:center;
  margin: 1rem 2rem 2rem 2rem;

}

#about-text {
  max-width: 40rem;
  margin-bottom: 4rem;
  float: right;
  margin-left: 4rem;
}

.project-title {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

.project-date {
  font-family: "Manrope-Regular";
}

.project-subheader {
  font-family: "Manrope-Regular";
}

.project-list-bottom-row {
  display: flex;
  flex-direction: row;
}

.project-list-top-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.top-row-space {

}

#HTMLCSS-tag{
  width: 16rem;
}

#UXUI-tag{
  width: 18rem;
}

#UXUI-tag-wider{
  width: 21rem;
}

#FILM-tag{
  width: 12rem;
}

#MARKETING-tag {
  width:8rem;
}

.project-tag {
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0.15rem solid #344EAD;
  border-radius: 1rem;
  font-family: "Manrope-Regular";
  /* color: #344EAD; */
}

.feature-project-tag {
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0.15rem solid #344EAD;
  border-radius: 1rem;
  font-family: "Manrope-Regular";
  /* color: #344EAD; */
}

#feature-HTMLCSS-tag {
  max-width: 5rem;
}

#feature-UXUI-tag {
  max-width: 3rem;
}


#view-project-button {
  width: 10rem;
  padding: 0.2rem;
}

#recents-title {
  text-align: center;
}

#view-all-proj {
  margin-left: 43%;
  margin-right: 40%;
  margin-bottom: 2rem;
}

#portfolio {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#portfolio-button {
  margin-left: 1rem;

}

#linkedin {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#linkedin-button {
  margin: 2rem;
}

#email-button {
  margin: 2rem;
}

#resume-button {
  margin-top: 1.5rem;
}

/* #agewell-wireframes {
  width: auto;
  height: 25;

} */

#agewell-wireframe-container {
  display: flex;
  flex-direction: row;
}

#agewell-web {
  margin-left: 35%;
  width:30%;
  height: 30%;
}

@media screen and (max-width: 60rem) {
  .product-listing {
    flex-direction: column;
  }
}

@media (min-width: 10rem) {
  .row{
    grid-template-columns: 1fr;
  }

  .project-details-row {
    flex-direction: column;
  }
}

@media (min-width: 49rem) {
  .row{
    grid-template-columns: 1fr 1fr;
  }
  .project-details-row {
    flex-direction: column;
  }
}

@media (min-width: 90rem) {
  .row{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (max-width: 1080px) {

  header {
    padding: 0 30px;
  }

  .featured-listings {
    flex-direction: column;
    align-items: center;
  }

  /* .project-listing {

    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .project-list-image {
    align-content: center;
    max-width: 15rem;
  }

  .project-tag {
    margin-top: 1rem;
  } */

  #view-project-button {
    /* margin-left: 4rem;
    margin-top: 0.5rem; */

  }

  #about {
    flex-direction: column;
  }

  #about-text {
    animation: image-float-down 3s;
  }

}

.footer {
  position: absolute;
  bottom: 100;
  left: 0;
  right: 0;
  height: 18rem;
  width: 100%;
  background-color: #344EAD;
  color: #EFECE1;
}

#footer-title {
  font-size: 2rem;
}

#footer-content {
  margin: 3rem;
}

#footer-nav-title {
  margin-bottom: -0.8rem;
  margin-left: -0.2rem;
  margin-top: 2rem;
}

#last-updated {
  margin-left: -0.1rem;
  margin-top: 2rem;
}

.nav-button-footer {
  display: block;
  padding: 0.5em 0.75em;
  color: #EFECE1;
  font-size: 1.1rem;
  font-style: bold;
  font-family: "Manrope-Medium";
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin-left: -1rem;
}

.nav-button-footer:hover, .nav-button-footer:focus {
  color: #999;
}

.nav-menu-footer {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  position: responsive;
}
